*{
  margin : 0;
  padding: 0;
  box-sizing: border-box;
  font-family : "Sofia-Regular";
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family : "Sofia-Bold";
  src: url(imports/fonts/Sofia\ Pro\ Bold\ Az.otf);
}

@font-face {
  font-family : "Sofia-Black";
  src: url(imports/fonts/Sofia\ Pro\ Black\ Az.otf);
}

@font-face {
  font-family : "Sofia-SemiBold";
  src: url(imports/fonts/Sofia\ Pro\ Semi\ Bold\ Az.otf);
}

@font-face {
  font-family : "Sofia-Regular";
  src: url(imports/fonts/Sofia\ Pro\ Regular\ Az.otf);
}

@font-face {
  font-family : "Sofia-Medium";
  src: url(imports/fonts/Sofia\ Pro\ Medium\ Az.otf);
}

@font-face {
  font-family : "Sofia-Light";
  src: url(imports/fonts/Sofia\ Pro\ Light\ Az.otf);
}

p{
  font-size : 15px;
  text-align: justify;
}